.formstyle {
    width: 89%;
}
#messagechat
{
  position: absolute;
  bottom: 0;
  max-height: 519px;
  margin-left: 30px;
}
#ginniview {
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#geniestyle {
    margin-left: 2%;
}
#assistantView {
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#textinput {
    border-color: teal;
    width: 98%;
    margin-left: 1%;
    background-color: #688fba;
}
#messagechat
{
    position: absolute;
    bottom: 0;
    max-height: 519px;

}
#chatheading {
    text-align: center;
}
#ginni {
    margin-top: -15px;
    min-height: 510px;
}
