.formstyle {
    width: 89%;
    margin-bottom: 0%;
      }

#ginniview {
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#geniestyle {
    margin-left: 2%;
}

#assistantView {
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#textinput {
    border-color: teal;
    margin-top: 5%;
    background-color: gray;
    vertical-align: bottom;
    position: relative;
}
#chatheading {
    text-align: center;
}

#ginni {
    margin-top:3%;
}
