#page-numbers {
  list-style: none;
  display: flex;
  margin-left: 1000px;
}

#page-numbers > li {
  margin-right: 0.6em;
  color: blue;
  user-select: none;
  cursor: pointer;
  margin-top: 5%;
}
#cardwidth
{
  height:80px;
  background-color: lightgray;
}
