#gridstyle
{
  width:45%;
  margin-top: 8%;
  height:300px;
  margin-left:-2%;
}
#headerstylefor
{
  text-align: center;
  color: red;
}
#textstyle
{
  margin-left:10%;
}
#forgotfield
{
  margin-left: 15%;
  width:50%;
  height:10%;
}
#buttonstylefor{
  margin-left: 15%;
  width:50%;
  margin-top:2%;
  background-color: black;
  color:white;
}
