#gridstyle
{
  width:45%;
  margin-top: 8%;
  height:300px;
  margin-left:-2%;
}
#headerstylefor
{
  text-align: center;
  color: red;
}
#textstyle
{
  margin-left:16%;
}
#forgotfield
{
  margin-left: 25%;
  margin-top: 8%;
  width:50%;
}
#buttonstylefor{
  margin-left: 25%;
  width:50%;
  margin-top:4%;
  background-color: teal;
  color:white;
}
#buttonstylefor:hover
{
  background: transparent;
  color: teal;  
}
#mailicon
{
  color: teal;
}
