#newpassword
{
    margin-top:5%;
    text-align: center;
}
#heading
{
    text-align: center;
    color: red;
}
#labelpassword
{
    background-color: teal;
    width:10%;
    color: white;
}
#submit
{
    width:20%;
    margin-left: 11%;
    color: white;
    background-color: black;
}
#fields
{
    width: 20%;
}
#divider
{
    width:50%;
    margin-left: 25%;
}
