#newpassword
{
    text-align: center;
    height: 100%;
}
#heading
{
    text-align: center;
    color: red;

}
#submit
{
    width:20%;
    margin-left: 0.5%;
    color: white;
    background-color: teal;
}
#submit:hover
{
  background: transparent;
  color:teal;
}
#fields
{
    width: 20%;
  
}
#divider
{
    width:50%;
    margin-left: 25%;
}
#icon
{
  color: teal;
}
#formfield
{
  margin-top: 10%;
}
