#signup
{
  background-color: teal;
color: white;
align-content: center;
}
#modelwindow
{
  width: 550px;
  height:615px;
  margin-left:-290px;
}
#buttonstyle
{
   background-color: black;
    color:white;
    margin-left: 120px;
}
#input
{
  margin-left: 5px;
  width:350px;
}
#formfield
{
  margin-left: 38px;
}
#checkbox
{
  margin-left: 5px;
}
#text
{
  margin-left: 100px;
}
@media only screen and (max-width: 896px) {
  #modelwindow
  {
    width: 450px;

    height:600px;
  }
  #buttonstyle
  {
     background-color: black;
      color:white;
      margin-left: 100px;
  }
  #input
  {
    margin-left: 3px;
    width:350px;
  }
  #formfield
  {
    margin-left: 18px;
  }
  #checkbox
  {
    margin-left: 2px;
  }
  #text
  {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 650px) {
  #modelwindow
  {
    width: 450px;

    height:600px;
  }
  #buttonstyle
  {
     background-color: black;
      color:white;
      margin-left: 100px;
  }
  #input
  {
    margin-left: 3px;
    width:350px;
  }
  #formfield
  {
    margin-left: 18px;
  }
  #checkbox
  {
    margin-left: 2px;
  }
  #text
  {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 480px) {
  #modelwindow
  {
    width: 300px;

    height:600px;
  }
  #buttonstyle
  {
     background-color: black;
      color:white;
      margin-left: 40px;
  }
  #input
  {
    margin-left: 1px;
    width:270px;
  }
  #formfield
  {
    margin-left: 2px;
  }
  #checkbox
  {
    margin-left: 1px;
  }
  #text
  {
    margin-left: 30px;
  }
}
